<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How's It Growing?</title>
    {{!-- JQuery CDN --}}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    {{!-- CSS Stylsheet --}}
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    {{!-- Script Link --}}
    <script src="/public/js/plant.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>