<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How's It Growing?</title>
    {{!-- Materialize CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    {{!-- CSS Stylsheet --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    {{!-- <!-- materialize CSS --> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- fontawesome cdn --}}
   
    
</head>
<body>

    {{{body}}}

{{!-- JQuery CDN --}}
 <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 {{!-- Script Link --}}
 <script src="/js/plant.js"></script>
 <script src="/js/login.js"></script>
<script src="https://kit.fontawesome.com/90ddc165de.js" crossorigin="anonymous"></script>
</body>
</html>