<header class="container">
        <div class="row col s6">
            <h3 class="center-align">How's it Growing?</h3>
        </div>
        <div class="row col m3">
            <h6 class="center-align flow-text"> <i class="fas fa-tint"></i> A simple app for the home gardener and botanist to keep all of their plants happy and healthy. Log in below and start creating your watering schedule<i class="fas fa-seedling"></i></h6>

        </div>
        
    </header>
    <main class ="container z-depth-3">
        <div class="row col m3">
        <div class="input-field col s4 offset-s4">
            <input id="email-input" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        </div>
        <div class="row col m3">
         <div class="input-field col s4 offset-s4">
            <input id="password-input" type="password" class="password">
            <label for="password">Password</label>
         </div>
        </div>
        <div class="row">
            <div class="col m4 offset-m4 center-align">
            <a class="waves-effect waves-light btn green darken-2 z-depth-3" id="login-btn">Log in or Sign up</a>
            </div>
        </div>
    </main>




