
<div class='container'>
    <div class='row center'>
        <div class='col s12'>
            <div class='col s12 m5 offset-m3'>
                <div class='card-panel green darken-2 responsive-table hoverable teal'>
                    <span class='white-text'>
                        <table>
                            
                            <tbody>
                              <tr>
                                <td><h5>Sunday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Monday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Tuesday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Wednesday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Thursday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Friday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                              <tr>
                                <td><h5>Saturday</h5></td>
                                <td>plant</td>
                                <td>plant</td>
                                <td>plant</td>
                              </tr>
                            </tbody>
                          </table>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

