<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How's It Growing?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="/public/js/plant.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/90ddc165de.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <nav class='nav-extended'>
        <div class='nav-wrapper green lighten-2'>
            <div class='row'>
                <div class='col s12'>
                    <h6 class="nav-title">How's It Growing?</h6>
                    <ul id='nav-mobile' class='right'>
                        <li><a href='#'>logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class='container'>
        <div class='section'></div>
        <div class='row'>
            <div class='col m4 s6'>
                <p>Hello (user), how's it growing?</p>
                <p>Time to check on those plants!</p>
            </div>
            <div class='col m4 s6'>
                <div class='section'></div>
                <button class="btn green darken-2 waves-effect waves-light" type="submit" name="action">Add Plant<i class="material-icons right">spa</i></button>
            </div>
            <div class='col s4'>
                
            </div>
        </div>
    </div>


<!-- materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

