/* Set size for the title logo */
.logo{
    width: 40px;
    height: auto;
}

/* Font for the page */
.font{
    font-family: 'Comfortaa', cursive;
}

/* Make icon attribute smaller */
.icon-attr{
    font-size: 2px;
}

/* Sizing for plant icon */
.plant-icon{
    max-width: 50%;
    height: auto;
}

/* Hiding or showing the watering can icon */
.hidden{
    visibility: hidden;
}

#shown{
    visibility: visible;
}